<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Flask Todo</title>
</head>
<body>

<form method="POST" action="/add">
    <input type="text" name="task" placeholder="Enter a task">
    <button type="submit">Submit</button>
</form>


<h1>Tasks:</h1>
<ul>
    {% for task in tasks %}
    <li>{{ task }}</li>
    {% endfor %}
</ul>

</body>
</html>